<div class="row">
  <div class="spacefour col-12 col-md-5">
    <img src="assets/img/Icono-S4.webp" alt="Certificados" class="imgResumen">
    <h6 class="three">3</h6>
  </div>
  <hr class="resumenLine">
  <div class="spacefour2 col-12 col-md-6">
    <div>
      <h6 class="textResumen d-flex justify-content-between">COSAS QUE <i class="pi pi-arrow-up-right iconoFlecha"></i>
      </h6>
      <h6 class="textResumen">DEBES SABER </h6>
      <h6 class="textResumen">SOBRE NOSOTROS</h6>
    </div>
  </div>
</div>
