<div class="container">

  <h1 id="title-nichos">ALGUNOS DE NUESTROS NICHOS</h1>
  <p id="click-p">Click! <i class="pi pi-exclamation-circle"></i></p>
  <div class="grid-4_xs-2_sm-2" id="cards-div">

    <div class="col">
      <div class="card-div">
        <div class="frond" id="animate-frond">
          <img class="box-img" src="assets/img/Influencer.webp" alt="Influencer">
        </div>
        <div class="back" id="animate-back">
          <p>
            Influencer
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div" id="bright">
        <div class="frond">
          <img class="box-img" src="assets/img/Dropshopping.webp" alt="Dropshopping">
        </div>
        <div class="back" id="back-yellow">
          <p>
            DROPSHIPPING
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond">
          <img class="box-img" src="assets/img/bares.webp" alt="Bares">
        </div>
        <div class="back">
          <p>
            BARES
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond">
          <img class="box-img" src="assets/img/casinos.webp" alt="Casinos">
        </div>
        <div class="back" id="back-yellow">
          <p>
            CASINOS
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond">
          <img class="box-img" src="assets/img/Contenido.webp" alt="Generadores de Contenido">
        </div>
        <div class="back" id="back-yellow">
          <p>
            GENERADORES DE CONTENIDO
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond">
          <img class="box-img" src="assets/img/Desarrolladores.webp" alt="Casas desarrolladoras de software">
        </div>
        <div class="back">
          <p>
            CASAS DESARROLLADORAS DE SOFTWARE
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond">
          <img class="box-img" src="assets/img/Independiente_.webp" alt="Profesionales Independientes">
        </div>
        <div class="back" id="back-yellow">
          <p>
            PROFESIONALES
            INDEPENDIENTES
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card-div">
        <div class="frond" id="frond-text">
          <p>
            ¿HACES PARTE DE OTRO NICHO?
          </p>
        </div>
        <div class="back" id="back-yellow">
          <p>
            ¡AQUÍ CABEMOS TODOS!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
