<swiper #swiper [config]="config">
  <ng-template swiperSlide>
    <div class="step-div-1">
      <div class="div-icon">
        <img src="assets/img/Icono-S4.webp" alt="icono-xisfo">
        <h6>3</h6>
      </div>
      <hr class="line">
      <div class="div-text">
        <p>
          MOTIVOS POR
        </p>
        <p>
          LOS CUALES
        </p>
        <p>
          XISFO ES PARA TI
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="step-div-2">
      <h6>1</h6>
      <div>
        <p id="text-1">
          AL IGUAL QUE TÚ HEMOS VIVIDO
        </p>
        <p id="text-2">
          LOS MISMOS PROBLEMAS CON
        </p>
        <p id="text-3">
          LA BANCA TRADICIONAL
        </p>
      </div>
      <img src="assets/img/icon-1.webp" alt="Motivo 1">
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="step-div-3">
      <h6>2</h6>
      <div>
        <p id="text-1">
          ESTO NOS PERMITIÓ
        </p>
        <p id="text-2">
          ENTENDER MEJOR <label>LAS NECESIDADES</label>
        </p>
        <p id="text-3">
          DE CADA SEGMENTO
        </p>
      </div>
      <img src="assets/img/icon-2.webp" alt="Motivo 2">
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="step-div-4">
      <h6>3</h6>
      <div>
        <p id="text-1">
          POR ESO CREAMOS XISFO,
        </p>
        <p id="text-2">
          UNA FINTECH DIFERENTE, UNA FINTECH
        </p>
        <p id="text-3">
          DONDE CABEMOS TODOS.
        </p>
      </div>
      <img src="assets/img/icon-3.webp" alt="Motivo 3">
    </div>
  </ng-template>
</swiper>
