<div class="container">
  <h1>SEGUIMOS CRECIENDO...</h1>
  <div class="grid-4">
    <div class="col">
      <img src="assets/img/icon-clientes.webp" alt="Clientes Xisfo">
      <p>CLIENTES</p>
      <strong>+{{number}}</strong>
    </div>
    <div class="col">
      <img src="assets/img/icon-empresas.webp" alt="Empresas">
      <p>EMPRESAS</p>
      <strong>+{{number2}}</strong>
    </div>
    <div class="col">
      <img src="assets/img/icon-experiencia.webp" alt="Experiencia">
      <p class="p-text">TRAYECTORIA</p>
      <strong>+{{number3}}</strong>
    </div>
    <div class="col">
      <img src="assets/img/icon-sucursales.webp" alt="Sucursales">
      <p>SUCURSALES</p>
      <strong>{{number4}}</strong>
    </div>
  </div>
</div>
