<h1 id="title-teams">QUIÉNES LO HACEN POSIBLE...</h1>
<div  id="team" class="content-carousel">
  <div class="carousel">
    <div
      #element
      *ngFor="let team of teams"
      class="carousel__cell"
    >
      <img [src]="team.img"  [alt]="team.id" class="image" />
      <h3 [id]="team.id" class="author_carousel" >{{team.name}}</h3>
    </div>
  </div>
    <button class="prev_btn" (click)="prev()">
      <i class="pi pi-chevron-left"></i>
    </button>
    <button class="next_btn" (click)="next()">
      <i class="pi pi-chevron-right"></i>
    </button>
</div>

<div class="content-carousel-mobile">
  <swiper
    #swiper
    [slidesPerView]="1"
    [config]="config"
    [navigation]="false"
    [scrollbar]="{ draggable: true }"
  >
    <ng-template *ngFor="let team of teams" swiperSlide>
      <img [src]="team.img" [alt]="team.name" style="width: 90%;     right: -24px;
    position: relative;" />
      <h3 class="name_auth">{{team.name}}</h3>
    </ng-template>
  </swiper>
  <button  class="prev_btn" (click)="slidePrev()" >
    <i class="pi pi-chevron-left"></i>
  </button>
  <button class="next_btn" (click)="slideNext()" >
    <i class="pi pi-chevron-right"></i>
  </button>
</div>

