<div class="div-btn">
  <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"
    (click)="close()"></button>
</div>
<div class="div-img">
  <img src="assets/img/manita.webp" alt="">
</div>
<div class="div-dialog">
  <p id="text-1">ESTAMOS MEJORANDO NUESTRA</p>
  <p id="text-2">IMAGEN Y NUESTROS</p>
  <p id="text-3">PROCESOS PARA TI.</p>
  <p id="text-4">
    En un momento serás redirigido
    al panel de xisfo pay
  </p>
  <div class="div-footer-dialog">
    <p>PRONTO CONOCERÁS MÁS...</p>
  </div>
</div>
