<div class="content-intro row">
  <hr id="hrIntro">
  <div class="body-text-intro col-lg-6 col-md-8 col-sm-10">
    <p class="text-intro-1">ÚNETE A NUESTRA</p>
    <p class="text-intro-2"><strong>FINTECH</strong></p>
    <p class="text-intro-3">¡AQUÍ CABEMOS TODOS!</p>
  </div>
  <video class="video" autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/img/NV.webm" type="video/webm">
  </video>
  <div class="footer-text-intro col-12">
    <p class="text-footer">Somos el primer Neo Banko especializado</p>
    <p class="text-footer">en segmentos desatendidos</p>
  </div>
</div>
<div class="footer-app"></div>
