<swiper #swiper [config]="config">
  <ng-template swiperSlide>
    <div class="principal-div-testimonial">
      <div class="div-img">
        <img src="assets/img/Icono_Testimoniales.webp" alt="">
      </div>
      <div class="div-text">
        <p>CONOCE LA REALIDAD DE NUESTROS CLIENTES</p>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="principal-div-testimonial">
      <div class="div-img-big">
        <img src="assets/img/casino.webp" alt="">
      </div>
      <div class="div-text-testimonial">
        <p id="p1">SOY ANDRÉS</p>
        <p id="p2">PROPIETARIO DE UN CASINO PEQUEÑO</p>
        <p id="p3">
          Aunque somos una pequeña empresa organizada
          cumplimos con todas las normas y tributos exigidos,
          pero ni esto es suficiente para que los bancos nos atiendan...
        </p>
      </div>
      <div class="bg-degraded">
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="principal-div-testimonial">
      <div class="div-img-big">
        <img src="assets/img/Agricultor.webp" id="img-agricultor" alt="">
      </div>
      <div class="div-text-testimonial">
        <p id="p4">SOY AGRICULTOR</p>
        <p id="p3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Iusto neque labore harum expedita id dolor nostrum debitis veniam tempora laudantium soluta quibusdam,
          deleniti qui? Mollitia minus veniam dolorum illo voluptas?
        </p>
      </div>
      <div class="bg-degraded">
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="principal-div-testimonial">
      <div class="div-img-big">
        <img src="assets/img/Empresario.webp" id="img-empresario" alt="">
      </div>
      <div class="div-text-testimonial">
        <p id="p4">SOY EMPRESARIO</p>
        <p id="p3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Iusto neque labore harum expedita id dolor nostrum debitis veniam tempora laudantium soluta quibusdam,
          deleniti qui? Mollitia minus veniam dolorum illo voluptas?
        </p>
      </div>
      <div class="bg-degraded">
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="principal-div-testimonial">
      <div class="div-img-big">
        <img src="assets/img/Gamer.webp" alt="">
      </div>
      <div class="div-text-testimonial">
        <p id="p4">SOY GAMER</p>
        <p id="p3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Iusto neque labore harum expedita id dolor nostrum debitis veniam tempora laudantium soluta quibusdam,
          deleniti qui? Mollitia minus veniam dolorum illo voluptas?
        </p>
      </div>
      <div class="bg-degraded">
      </div>
    </div>
  </ng-template>
</swiper>
