<div class="div-responsive-testimonial">
  <h3 id="title-testimonial">Conoce la realidad de nuestros clientes</h3>
  <span id="indica-testi"><i class="pi pi-arrow-left" style="color: #644f86; margin: 0 10px 0 19px;"></i>Desiliza </span>
  <swiper #swiper [config]="configcard" class="cardSwiper">
    <ng-template swiperSlide>
      <div class="title">
        <p id="dongle">Soy Andrés </p>
      </div>
      <div class="div-img">
        <img src="assets/img/casino.webp" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <p><strong>PROPIETARIO DE UN CASINO PEQUEÑO</strong> </p>
      <p>
        Aunque somos una pequeña empresa organizada
        cumplimos con todas las normas y tributos exigidos,
        pero ni esto es suficiente para que los bancos nos atiendan...
      </p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="title">
        <p id="dongle">Soy Agricultor</p>
      </div>
      <div class="div-img" style="width: 150%;">
        <img src="assets/img/Agricultor.webp" style="width: 270px;" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Error distinctio odit consectetur consequatur iure,
        animi, quisquam nobis ipsam ea iusto voluptates veniam modi
        nostrum consequuntur nesciunt ad doloribus excepturi commodi.
      </p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="title">
        <p id="dongle">Soy Empresario</p>
      </div>
      <div class="div-img">
        <img src="assets/img/Empresario.webp" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Error distinctio odit consectetur consequatur iure,
        animi, quisquam nobis ipsam ea iusto voluptates veniam modi
        nostrum consequuntur nesciunt ad doloribus excepturi commodi.
      </p>
    </ng-template>
    <ng-template swiperSlide>
      <div class="title">
        <p id="dongle">Soy Gamer</p>
      </div>
      <div class="div-img" style="width: 125%;">
        <img src="assets/img/Gamer.webp" style="width: 250px;" alt="">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Error distinctio odit consectetur consequatur iure,
        animi, quisquam nobis ipsam ea iusto voluptates veniam modi
        nostrum consequuntur nesciunt ad doloribus excepturi commodi.
      </p>
    </ng-template>
  </swiper>
</div>
