<swiper #swiper [config]="config">
  <ng-template swiperSlide>
    <div class="principal-div-segments">
      <div class="slide-step">
        <div class="slide-left">
          <div class="person-type">
            Empresas
          </div>
          <div class="div-img">
            <img class="img-slide" src="assets/img/Empresas.webp" alt="">
          </div>
        </div>
        <div class="div-text">
          <p id="p1">OFRECEMOS SOLUCIONES</p>
          <p id="p2">A LAS EMPRESAS QUE TIENEN</p>
          <p id="p3">RESTRICCIONES PARA ACCEDER</p>
          <p id="p4">A LA BANKA TRADICIONAL</p>
          <p id="p5">
            Bares, casinos, empresas, generadoras de contenido,
            tenderos, empresas maquiladoras, agricultores
            independientes, moteles, talleres mecánicos, joyerías.
          </p>
          <div class="know-more">
            <a routerLink=""><h4>CONOCE MÁS <i class="pi pi-arrow-up-right" style="font-size: 1.5rem; color: #644f86"></i></h4></a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="principal-div-segments">
      <div class="slide-step">
        <div class="slide-left">
          <div class="person-type">
            Personas
          </div>
          <div class="div-img" id="div-person">
            <img class="img-slide" src="assets/img/Personas.webp" alt="">
          </div>
        </div>
        <div class="div-text">
          <p id="p6">ENTENDIMOS QUÉ... </p>
          <p id="p7">LOS TIEMPOS CAMBIAN, </p>
          <p id="p8">¡LA MANERA DE HACER  </p>
          <p id="p9">DINERO TAMBIÉN! </p>
          <p id="p5">
            Generadores de Contenido, Maquiladores y profesionales
            independientes, freelancers, traders, gamers,
            usuarios sin experiencia crediticia.
          </p>
          <div class="know-more">
            <a routerLink=""><h4>CONOCE MÁS <i class="pi pi-arrow-up-right" style="font-size: 1.5rem; color: #644f86"></i></h4></a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
