<div class="principal-div">
  <div class="box-card-div">
    <h6>Click <i class="pi pi-info-circle" style="color: #644f86;"></i></h6>
    <div class="card-div">
      <div class="frond">
        <img class="box-img" src="assets/img/Cuadro-1.webp" alt="Influencer">
      </div>
      <div class="back">
        <p>
          Generadores de contenido, Webcam
          Streamers, Freelancers
        </p>
      </div>
    </div>
    <div class="card-div" id="change-order">
      <div class="frond" id="frond-yellow">
        <img class="box-img" src="assets/img/Cuadro-2.webp" alt="Agricultor">
      </div>
      <div class="back" id="back-yellow">
        <p>
          Agricultor Pequeño, Maquilador, Profesional
          Independiente
        </p>
      </div>
    </div>
    <div class="card-div">
      <div class="frond" id="frond-yellow">
        <img class="box-img" src="assets/img/Cuadro-3.webp" alt="Señora">
      </div>
      <div class="back"  id="back-yellow">
        <p>
          Tenderos, Mecánicos, Taxistas
        </p>
      </div>
    </div>
    <div class="card-div">
      <div class="frond">
        <img class="box-img" src="assets/img/Cuadro-4.webp" alt="Gamer">
      </div>
      <div class="back">
        <p>
          Gamers, Desarrolladores web, Traders, Emprendedores
        </p>
      </div>
    </div>
  </div>
  <div class="text-div">
    <p id="p1">ATENDEMOS</p>
    <p id="p2">A LOS QUE BANCA TRADICIONAL </p>
    <p id="p3">NO QUIERE ATENDER </p>
    <br>
    <p class="sub-p">
      No somos el banko de siempre..
    </p>
    <p class="sub-p">
      ¡Somos el banko de los olvidados!
    </p>
  </div>
</div>

