<div class="row spaceOne">
  <div class="space col-12 col-md-5">
    <div class="card">
      <div class="cardOne">
        <div class="card-body">
          <h6 class="card-title">XISFO</h6>
          <h6 class="card-subtitle">PERSONAS <img class="icon-vinculo" src="/assets/img/icon-vinculo.webp"
              alt="icono vinculo"></h6>
          <div class="text-center">
            <img src="assets/img/Icono_Banka_Personas.webp" alt="Xisfo personas" class="imgBankPersonas">
          </div>
          <p class="textCard">Encuentra todo lo que las personas
            pueden hacer con nuestra cuenta
            dando click aquí
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="space col-12 col-md-5">
    <div class="card">
      <div class="cardTwo">
        <div class="card-body">
          <h6 class="cardTwo-title">XISFO</h6>
          <h6 class="cardTwo-subtitle">PYMES<img class="icon-vinculo" src="/assets/img/icon-vinculo.webp"
              alt="icono vinculo"></h6>
          <div class="text-center">
            <img src="assets/img/Icono_Banka_Pymes.webp" alt="Xisfo Pymes" class="imgBankPersonas">
          </div>
          <p class="textCardTwo">Conoce todas las soluciones para tu pequeña
            y mediana empresa
            dando click aquí
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
