<div class="container-principal">
  <div class="div-texts">
    <h1>
      NUESTRO MANIFIESTO
    </h1>
    <h6>
      !ÚNETE A LA NUEVA ERA, LA ERA XISFO!
    </h6>
    <p>
      Sé parte de este manifiesto y de los miles
      de colombianos que han encontrado en
      Xisfo un apoyo incondicional
    </p>
    <div class="div-button" >
      <button pButton pRipple type="button"
      class="p-button-rounded p-button-secondary p-button-outlined" (click)="showMore()">Ver más</button>
    </div>
  </div>
  <div class="div-img">
    <img src="assets/img/manifiesto.png" alt="Nuestro Manifiesto">
  </div>
</div>
