<div class="content-app row">
  <div class="divImgApp col-lg-7 col-md-6 col-sm-6">
    <img class="imgApp" src="assets/img/app.webp">
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="divApp">
      <p class="p-app">¿ESTÁS LISTO?</p>
      <h6>DESCARGA NUESTRA APP</h6>
    </div>
    <div class="storeImgs">
      <a href="#"><img id="appleStoreImg" src="assets/img/app-store.webp"></a>
      <a href="#"><img id="playStoreImg" src="assets/img/google-play-logo.webp"></a>
    </div>
  </div>
</div>
<div class="footer-app"></div>
