<div class="sectionSix">
  <div class="div-ecosistema-lg">
    <div class="div-img">
      <img src="/assets/img/celular_xisfo-02.webp" alt="">
    </div>
    <div class="div-text">
      <p id="p-title">ÚNETE A NUESTRO ECOSISTEMA </p>
      <p id="p-subtitle">¿Cashback?</p>
      <ul>
        <li>
          <p id="p-text">
            Somos el único banko con el que podrás recibir beneficios por cada uno de tus movimientos.
          </p>
        </li>
        <li>
          <p id="p-text">
            Si cuidas nuestro ecosistema Xisfo bank te devolvemos un porcentaje en efectivo COP por cada proceso que
            realices entre cuentas del ecosistema.
          </p>
        </li>
      </ul>
      <p id="p-subtitle">¿Revenues?</p>
      <ul>
        <li>
          <p id="p-text">
            Transfiere dinero de tu billetera Xisfo a otras Billeteras Xisfo y recibe beneficios por las transacciones
            entre pares.
          </p>
        </li>
        <li>
          <p id="p-text">
            Utiliza tu billetera Xisfo para realizar tus pagos en los puntos autorizados y obtienes beneficio por las
            compras y pagos en los establecimientos del ecosistema.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="div-ecosistema-sm">
    <img src="/assets/img/ecosistema-cel.gif" alt="">
  </div>
</div>
