<div class="footer">
  <div class="div-general-info">
    <div class="xisfo-info">
      <div class="div-logo">
        <img id="xisfo-logo" src="/assets/img/Xisfo-Blanco.webp" alt="Logo Xisfo Financial Tech">
      </div>
      <p>Somos la primera fintech especializada en segmentos desatendidos</p>
      <div id="d-flex-center">
        <p>SÍGUENOS EN:</p>
        <div class="div-logos">
          <a href="https://www.facebook.com/xisfofintech.col" target="_blank"><img class="icon-img" src="/assets/img/icon-facebook.webp" alt="facebook - Xisfo Financial Tech"></a>
          <a href="https://api.whatsapp.com/send?phone=573108429587" target="_blank"><img class="icon-img" src="/assets/img/icon-whatsapp.webp" alt="whatsapp - Xisfo Financial Tech"></a>
          <a href="https://twitter.com/fintechco" target="_blank"><img class="icon-img" src="/assets/img/icon-twitter.webp" alt="icono twitter"></a>
          <a href="https://www.instagram.com/xisfofintech.col" target="_blank"><img class="icon-img" src="/assets/img/icon-instagram.webp" alt="instagram - Xisfo Financial Tech"></a>
          <a href="https://www.linkedin.com/company/xisfofintechco" target="_blank"><img class="icon-img" src="/assets/img/icon-linkedin.webp" alt="linkedin -Xisfo Financial Tech"></a>
        </div>
      </div>
      <span>Centro de Atención al Usuario CAUX:  (+57) 310 842 9587 </span><br>
      <span>Trabaja con nosostros</span>
    </div>
    <div class="div-columns" id="accordion">
      <div class="column-info">
        <h2 data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">LEGAL</h2>
        <div id="collapseOne" class="accordion-collapse collapse {{isShow}}" data-bs-parent="#accordion">
          <a href="https://xisfo.com/storage/forms_documentation/politica_tratamiento.pdf" target="_blank">Politica tratamiento de datos <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a href="https://xisfo.com/storage/forms_documentation/Xisfo-Codigo-Conducta.pdf" target="_blank">Codigo de  conducta<i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a href="https://xisfo.com/storage/forms_documentation/Xisfo-Habeas-Data.pdf"  target="_blank">Habeas Data <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <!-- <a routerLink="">Condiciones de uso <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a> -->
        </div>
      </div>
      <!-- <div class="column-info">
        <h2 data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true">FINANCIERO</h2>
        <div id="collapseTwo" class="accordion-collapse collapse {{isShow}}" data-bs-parent="#accordion">
          <a routerLink="">Tasas y tarifas <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a routerLink="">Topes y limitaciones <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a routerLink="">Gobiernos compromiso <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a routerLink="">Seguros <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
        </div>
      </div> -->
      <div class="column-info">
        <h2 data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true">INFORMACIÓN</h2>
        <div id="collapseThree" class="accordion-collapse collapse {{isShow}}" data-bs-parent="#accordion">
          <a href="#sectionThree">Banka <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a href="#section-for-you">Por qué Xisfo <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <a href="#manifest">Manifiesto <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a>
          <!-- <a href=""> h <i class="pi pi-arrow-up-right" style="font-size: 1rem; color: #eee; margin-left: 8px;"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-footer">
  <span id="span-big">@Copyright Xisfo Financial Tech 2016</span>
  <span id="span-small">Términos de servicio - Política de privacidad</span>
</div>
